.confirmation-container {
  display: flex;
}

.confirmation-message {
  flex: 0 0 70%;
  margin-top: 30px;
}
.confirmation-image {
  flex: 0 0 30%;
  margin-top: 50px;
}

.confirmation-message h1 {
  padding-bottom: 36px;
  font-size: 72px;
  color: rgba(14, 14, 14, 0.58);
}


.confirm-details {
  margin-top: 50px;
}

.order-confirmation {
  margin-bottom: 50px;
}

.confirm-header {
  color: #218A78;
}

.order-info {
  display: flex;
}

.order-address {
  flex: 0 0 25%;
}
.order-num {
  flex: 0 0 25%;

}
.order-date {
  flex: 0 0 25%;
}
.order-payment {
  flex: 0 0 25%;
}

.order-item-container {
  display: flex;
  justify-content: space-around;
  height: 123px;
}

.order-photo-container {
  flex: 0 0 15%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 123px;
}

.order-item-desc {
  flex: 0 0 70%;
  height: 123px;
}

.renting-item {
  position: relative;
}
.btn-another {
  position: absolute;
  bottom: 5px;
  right: 50px;
}
