// Specific CSS for your home-page
$black: #292D33;
$darkblue: #2D2F3B;
$darkgreen: #218A78;
$lightgreen: #1BBB99;

body {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

body > p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;

}

.page-height {
  min-height: calc(100vh - 157px);
}

li {
  color: #1BBB99;
}

a {
  text-decoration: none;
}

label {
  font-weight: 400;
}

.homepage-image-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homepage-image {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -1px;
  z-index: -1;
  top: 0;
  left: 0;
}

.landingpage-header {
  text-align: center;
  position: absolute;
  top: 228px;
  left: 190px;
}

.landingpage-header h1 {
  color: #FFFFFF;
  font-family: 'Prata', sans-serif;
  font-size: 80px;
}

.landingpage-para {

  font-size: 23px;
  color: #FFFFFF;
  font-weight: lighter;
}

.form-group .form-control-label{
  color: #FFFFFF;
  font-weight: ligther;
  margin-right: 50px;
  font-size: 23px;
}

.form {
  padding-top: 10px;

}

.form-control {
  height: 45px;
  margin-right: 12px;
}


a.login {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 28px;
  right: 48px;
}
