.form-index {
  .form {
    text-align: center;
  }
  input.btn-first {
    background-color: white;
    border: solid 1px #00bf97;
    color: #00bf97;
    text-transform: capitalize;
  }
}

h2.title {
    font-size: 20px;
    padding: 0;
    color: darkgrey;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 32px;
  }

.index-banner {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: 366px;
  background-size: cover;
  h2.index {
    font-size: 30px;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    color: white;
  }
  p {
    color: white;
    font-size: 16px;
    text-align: center;
    max-width: 450px;
    opacity: .78;
  }
}


.product-container {
  display: flex;
}

.sidebar {
  // position: fixed;
  // display: inline;
  // width: 17%;
  // left: 40px;
  // top: 100px;
  // bottom: 110px;
  flex: 0 0 20%;
  margin-top: 40px;
  margin-right: 20px;
}


// .sidebar .form-tag .select_tag select {
//   width: 150px;
//   margin-bottom: 10px;
// }

.order_form {
  margin: 30px 0px;
}
h2.index {
  font-size: 30px;
  padding: 24px;
  text-align: center;
  font-weight: 400;
  color: #8a8a8a;
}

// .sidebar .submit-tag {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.products-container {
  flex: 0 0 80%;
}

.products-container h3 {
  margin-bottom: 40px;
}

.product-cards {
  margin-top: 45px;
}

.order-tag {
  display: inline;
  padding: 5px;
}

.form-tag select {
  width: 120px;
}

.products-container h1 {
  text-align: center;
}

.form-change-date {
  text-align: center;
  background-color: #FFFFFF;
}
.change_date{
  border: none;
  font-weight: lighter;
  font-size: 15px;
}

.page-container {
  text-align: center;
}

.pagination > li > a, .pagination > li > span {
  color: #292D33;
}

.pagination > li > a:hover, .pagination > li > span {
  color: #292D33;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #292D33;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #1BBB99;
  border-color: #1BBB99;
}

.product-desc h3 {
  margin: 0px;
}

.product-desc p {
  margin: 0px;
}

.product-desc {
  margin: 15px;
  margin-bottom: 5px;
}

.description p {
  margin-bottom: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
}

p.number-show {
  letter-spacing: 0;
  font-size: 21px;
  text-transform: capitalize;
}


p.range-item {
  margin: 22px 0;
}

















