.center-text {
  text-align: center;
}

.longer-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.container-random h1 {
  margin-bottom: 20px;
}

.product-desc-random {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.banner-random {
  display: inline-block;
}

.banner-random-img {
  width: 30%;
  height: 300px;
}
