.show-product {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.product-pic{
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      z-index: -30;
    }
}

.pic {
  height: 80%;
  width: 80%;
}

.product-description {
  background-color: #f3f3f3;
  height: 80vh;
  display: flex;
  padding: 70px;
  justify-content: center;
  align-items: center;
  .btn-ghost {
    margin: 10px;
    color: #a5a5a5;
    background-color: transparent;
    border: 2px solid #7373733d;
  }
}

.description {
  margin: 0 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.white-button {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
  margin: 20px;
}

// .btn-primary {
//   // border-radius: 5px;
//   background-color: #1BBB99;
//   border: none;
//   padding: 10px;
//   margin-bottom: 10px;
//   margin-top: 10px;
//   &:hover {
//     background-color: #218A78;
//     opacity: 0.9;
//     transform: scale(1.02);
//   }
// }

// .btn-primary:active {
//   background-color: #1BBB99;
//   border-color: transparent;
// }

// .btn-primary:focus {
//   background-color: #1BBB99;
//   border-color: transparent;
//   outline: none;
// }

.btn-first {
  background-color: #1BBB99;
  color: #FFFFFF;
  border: 2px solid #1BBB99;
  // do not change border

  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-first:hover {
  color: #FFFFFF;
  opacity: 0.9;
  transform: scale(1.02);
}

.btn-first:active:focus {
  color: #FFFFFF;

  border-color: transparent;
  outline: none;
}

.btn-first:active {
  color: #FFFFFF;
  transform: scale(1.0);
  border-color: transparent;
  outline: none;
}

.btn-first:focus {
  color: #FFFFFF;
  transform: scale(1.0);
  outline: none;
}

.btn:active:focus {
  background-color: #1BBB99;
  border-color: transparent;
  outline: none;
}

.btn:active {
  background-color: #1BBB99;
  border-color: transparent;
  outline: none;
}

.btn:focus {
  background-color: #1BBB99;
  border-color: transparent;
  outline: none;
}

.btn-random .btn-primary {
  margin-bottom: 30px;
}

.back-btn {
  color: #292D33;
  &:hover {
    text-decoration: none;
    color: #292D33;
  }
}

.back {
  margin-top: 10px;
  &:hover {
    opacity: 0.8;
  }
}

.navigation-buttons {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  p {
    letter-spacing: 1px;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-size: 13px;
  }
  .back-btn {
    color: #00bf97;
    padding: 6px 0px;
    border-bottom: solid 2px #00bf97;
  }
}


.btn-ghost {
  // border-radius: 5px;
  margin: 10px;
  color: #1BBB99;
  background-color: #FFFFFF;
  border: 2px solid #1BBB99;
  &:hover {
    opacity: 0.9;
    color: #218A78;
    transform: scale(1.02);
  }
}

.show {
  width: 200px;
}

.product-title {
  h1 {
    font-size: 72px;
    color: #0e0e0e94;
  }
}

.show-buttons {
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
}
// .btn-ghost:active:focus {
//   background-color: #FFFFFF;
// }
// .btn-ghost:active {
//   background-color: #FFFFFF;
// }

// .btn-ghost:focus {
//   background-color: #FFFFFF;
// }
