.center-text {
  text-align: center;
}

.longer-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.container-random h1 {
  margin-bottom: 20px;
}

.product-desc-random {
  text-align: center;
}

.banner-random {
  display: inline-block;
}

.banner-random-img {
  width: 100%;
  height: 300px;
}

.random-card .card-container {
  margin-block-end: 5px;
}

.random-card h4 {
  margin-top: 0;
  // margin-bottom: 0;
  font-size: 18px;
}

.banner-random-text h3 {
  margin-bottom: 10px;
}


.conf_modal{
  display: flex;
  top: 283px;
  border: solid 2px white;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  height:50px;
  width:20vw;
  background-color: #1BBB99;
  position: absolute;
  z-index: 1000000;
  pointer-events: none;
  margin-left: 40vw;
  opacity: 0;
  transition: all ease 1s;
  border-radius: 4px;
}

.conf_modal p {
  margin: 0px;
}

.shown_modal{
  opacity:1;
}

.banner-business-model {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
}

.banner-business-model-item {
  width: 200px;
  text-align: center;
}

.banner-business-model-item h1 {
  color: #1BBB99;
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 15px;
}

.material-icons {
  font-size: 45px;
  color: #e8e8e8;
}

.green-bold {
   color: black;
}

