.center-text {
  text-align: center;
}

.longer-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.container-random h1 {
  margin-bottom: 20px;
}

.product-desc-random {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.banner-random {
  display: inline-block;
}

.banner-random-img {
  width: 30%;
  height: 300px;
}

.random-card .card-container {
  margin-block-end: 5px;
}

.random-card h4 {
  margin-top: 0;
  // margin-bottom: 0;
  font-size: 18px;
}

.banner-random-text h3 {
  margin-bottom: 10px;
}


.conf_modal{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  height:50px;
  width:20vw;
  background-color: #1BBB99;
  position: absolute;
  z-index: 1000000;
  pointer-events: none;
  margin-left: 40vw;
  opacity: 0;
  transition: all ease 1s;
  border-radius: 10px;
}

.conf_modal p {
  margin: 0px;
}

.shown_modal{
  opacity:1;
}
