.sidebar {
  position: fixed;
  display: inline;
  width: 17%;
  left: 40px;
  top: 180px;
  bottom: 110px;
}

.sidebar .form-tag .select_tag select {
  width: 150px;
  margin-bottom: 10px;
}

.sidebar .submit-tag {
  margin-top: 10px;
  margin-bottom: 10px;
}

.products-container {
  margin-left: 20%;
}

.order-tag {
  display: inline;
}

.order-form-tag {
  display: inline;
}
