.show-product {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.product-pic{
 flex: 0 0 60%;
}
.pic {
  height: 80%;
  width: 80%;
}

.product-description {
  background-color: #F2F2F2
}

.show {
  margin: 20px;
  width: 90%;
  height: 49px;
}

.description {
  margin: 0 40px;
}

.white-button {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
  margin: 20px;
}
.btn-primary {
  border-radius: 5px;
  background-color: #1BBB99;
  border: none;
  padding: 12px;
  &:hover {
    background-color: #218A78;
  }
}

.back-btn {
  margin: 10px;
  margin-bottom: 5px;
  color: #292D33;
}

.btn-ghost {
  border-radius: 5px;
  color: #1BBB99;
  background-color: #FFFFFF;
  border: 1px solid #1BBB99;
  &:hover {
    color: #218A78;
  }
}
