.sidebar {
  position: fixed;
  display: inline;
  width: 17%;
  left: 40px;
  top: 100px;
  bottom: 110px;
}

.sidebar .form-tag .select_tag select {
  width: 150px;
  margin-bottom: 10px;
}

.sidebar .submit-tag {
  margin-top: 10px;
  margin-bottom: 10px;
}

.products-container {
  margin-left: 20%;
}

.products-container h3 {
  margin-bottom: 40px;
}

.product-cards {
  margin-top: 45px;
}

.order-tag {
  display: inline;
  padding: 5px;
}

.form-tag select {
  width: 120px;
}

.pagination > li > a, .pagination > li > span {
  color: #1BBB99;
}

.pagination > li > a:hover, .pagination > li > span {
  color: #1BBB99;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #1BBB99;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #1BBB99;
  border-color: #1BBB99;
}
