<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('http://www.10stunninghomes.com/wp-content/uploads/minimalist-apartment-ukraine.jpg')">
  <div>
    <h2 class="index">Dont Want To Browse?</h2>
    <p>Try our randomizer tool to get amazing and beautiful furniture tailored picked by designers.</p>
    <div class="btn-random" style="text-align: center;">
      <%= link_to "Go full random", randomize_booking_path(@booking), class: "btn btn-first" %>
    </div>
  </div>
</div>
