<div class="container">
  <div class="homepage-image-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('http://www.10stunninghomes.com/wp-content/uploads/minimalist-apartment-ukraine.jpg')" class="homepage-image">
    <div class="landingpage-header">
      <h1>Welcome to Furnie</h1>
      <div class="form form-inline date-form">
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :starts_at, as: :string, input_html: { id: "start_date" },
          required: false, placeholder: "From when?", label: false %>
          <%= f.input :ends_at, as: :string, input_html: { id: "end_date" },
          required: false, placeholder: "Until when?", label: false %>
          <%= f.button :submit, "find furnitures", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
</div>
</div>
