/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}
.alert-info {
  background: #C0C1A4;
  border: none;
}
.alert-warning {
  background: $red;
  border: none;

}
