.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 23px;
  position: relative;
}

.card-category:hover{
  opacity: 0.95;
  transform: scale(1.01);
}

.card-category:active{
  opacity: 0.95;
}

.place-name {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  bottom: 54px;
  font-weight: lighter;
  color: white;
  justify-content: center;
}

.product-desc {
  color: #292D33;
}
