.card-container {
  padding: 6px;
 // border: 1px solid white;
 margin-block-end: 30px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-container:hover {
  opacity: 0.9;
  transform: scale(1.015);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.card-container:active {
  opacity: 1;
}

.container-random {
  margin-left: 50px;
  margin-right: 50px;
}

.active-border .card-container-random {
  border-bottom: #1BBB99 solid 10px;
}
.card-category {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: lighter;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}


.card-category:active{
  opacity: 0.95;
  transform: scale(1.0);
}

.place-name {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  bottom: 54px;
  font-weight: lighter;
  color: white;
  justify-content: center;
}

.product-desc {
  color: #292D33;
  margin: 25px;
}

.product-desc h3 {
  margin-top: 0;
  // margin-bottom: 0;

}
