/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #FFFFFF;
  color: #1BBB99;
  transition: all 0.3s ease;
  height: 68px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #1BBB99;

}

#nav-name {
  color: #1BBB99;
  font-family: 'Ubuntu', sans-serif;
  font-size: 34px;
}

/* Logo */
.navbar-wagon-brand {
  height: 50px;
  &:hover {
    text-decoration: none;
    opacity: 0.75;
    transform: scale(1.1);
  }
}

.navbar-wagon-brand:active {
  transform: scale(1.0);
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  padding-right: 0px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #1BBB99;
  font-size: 14px;
  opacity: 0.8;
  margin-right: 15px;
}
.navbar-wagon-link:hover {
  color: #1BBB99;
  text-decoration: none;
  opacity: 1;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.dropdown img {
  margin-left: 15px;
}

.dropdown img:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

.cart img:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

.dropdown img:active {
  transform: scale(1.0);
}

.cart img:active {
  transform: scale(1.0);
}


.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.cart {
  color: #FFFFFF;
}

#cart-container {
  float: right;
  width: 20px;
  position: relative;
}

#itemCount {
  position: absolute;
  display: none;
  top: -10px;
  left: 27px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff0732;
  color: white;
  text-align: center;
  font-size: 15px;
}

