.category-label {
  color: #292D33;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    opacity: 1;
    border-bottom: 1.6px solid #218A78;
  }
}

.search-label {
  position: relative;
}

.add-button {
  position: absolute;
  right: 17px;
  transition: all ease 0.5s;
}

.select_tag{
  opacity: 0;
  height: 0;
  display: none;
  // transition: all ease 1s;
}

.select_show{
  opacity: 1;
  height: auto;
  display: block;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 14px;
}

.select_show {
  :first-child {
    margin-top: 16px;
  }
}
.btn_rotated{
  transform: rotate(-45deg)
}

