<div class="container">
 <div class="sidebar">
   <%= render 'shared/sidebar' %>
 </div>

 <div class="products-container">

  <h1 class = "index">Furniture available for rent</h1>

  <div class="product-cards">
    <% @products.each do |product| %>
      <%= render 'shared/card', product: product, booking: @booking %>
    <% end %>
  </div>
  <%= paginate @products %>
 </div>
</div>
