<div class="container">
 <div class="sidebar">
   <%= render 'shared/sidebar' %>
 </div>

 <div class="products-container">
  <h3>Furniture Available For Rent</h3>
  <div class="order_form">
    <%= render 'shared/order_form' %>
  </div>
  <div class="product-cards">
    <% @products.each do |product| %>
      <%= render 'shared/card', product: product, booking: @booking %>
    <% end %>
  </div>
  <%= paginate @products %>
 </div>
</div>
