<div class="container">
 <div class="sidebar">
   <%= render 'shared/sidebar' %>
 </div>

 <div class="products-container">
  <h1>All products</h1>
  <% @products.each do |product| %>
    <%= render 'shared/card', product: product, booking: @booking %>
  <% end %>
 </div>
</div>
