

.login-title {
  line-height: 60px;
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;

}

.loginpage {
  width: 300px;
  height: 500px;
  margin: auto;
  border: 1px solid darkgrey;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-inputs {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 200px;
  text-align: center;
  text-weight: lighter;
  display: block;
  margin: 0 auto;
}

.form-inputs label {
  font-weight: lighter;
}

#login-input label {
  font-weight: lighter;
}

.container {
  margin-top: 30px;
}

.links-container {
  margin-top: 30px;
  text-decoration: none;
}

.links-container a {
  color: #363732;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.sign-up-password {
  color: #363732;
  display: list-item;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


